<a href="https://colab.research.google.com/github/Vageeswari-kanchiuniv/C/blob/main/PYTHON_DB_CONNECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# Function to create connection
def create_connection():
    try:
        conn = sqlite3.connect("college.db")   # Creates DB file in Colab
        return conn
    except sqlite3.Error as e:
        print("Error connecting:", e)
    return None

# Function to create table
def create_table(conn):
    try:
        cursor = conn.cursor()
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS students (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            mark INTEGER
        );
        """)
        conn.commit()
        print("Table ready.")
    except sqlite3.Error as e:
        print("Error:", e)


conn = create_connection()
create_table(conn)

Table ready.

In [3]:
# Insert student
def insert_student(conn, name, mark):
    try:
        cursor = conn.cursor()
        cursor.execute("INSERT INTO students (name, mark) VALUES (?, ?)", (name, mark))
        conn.commit()
        print("Inserted successfully.")
    except sqlite3.Error as e:
        print("Insert error:", e)

# Read students
def view_students(conn):
    try:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM students")
        rows = cursor.fetchall()
        return rows
    except sqlite3.Error as e:
        print("Fetch error:", e)

# Update mark
def update_student(conn, sid, new_mark):
    try:
        cursor = conn.cursor()
        cursor.execute("UPDATE students SET mark=? WHERE id=?", (new_mark, sid))
        conn.commit()
        print("Updated.")
    except sqlite3.Error as e:
        print("Update error:", e)

# Delete student
def delete_student(conn, sid):
    try:
        cursor = conn.cursor()
        cursor.execute("DELETE FROM students WHERE id=?", (sid,))
        conn.commit()
        print("Deleted.")
    except sqlite3.Error as e:
        print("Delete error:", e)

In [ ]:
while True:
    print("\n======== STUDENT MANAGEMENT (SQLite on Colab) ========")
    print("1. Insert Student")
    print("2. View Students")
    print("3. Update Student")
    print("4. Delete Student")
    print("5. Exit")

    ch = input("Enter your choice: ")

    if ch == "1":
        name = input("Enter name: ")
        mark = int(input("Enter mark: "))
        insert_student(conn, name, mark)

    elif ch == "2":
        rows = view_students(conn)
        print("\n--- Student Records ---")
        for row in rows:
            print(row)

    elif ch == "3":
        sid = int(input("Enter student ID: "))
        new_mark = int(input("Enter new mark: "))
        update_student(conn, sid, new_mark)

    elif ch == "4":
        sid = int(input("Enter student ID to delete: "))
        delete_student(conn, sid)

    elif ch == "5":
        print("Exiting...")
        break

    else:
        print("Invalid choice! Try again.")

======== STUDENT MANAGEMENT (SQLite on Colab) ========
1. Insert Student
2. View Students
3. Update Student
4. Delete Student
5. Exit
Inserted successfully.

======== STUDENT MANAGEMENT (SQLite on Colab) ========
1. Insert Student
2. View Students
3. Update Student
4. Delete Student
5. Exit

--- Student Records ---
(1, 'Vageeswari', 200)

======== STUDENT MANAGEMENT (SQLite on Colab) ========
1. Insert Student
2. View Students
3. Update Student
4. Delete Student
5. Exit
Updated.

======== STUDENT MANAGEMENT (SQLite on Colab) ========
1. Insert Student
2. View Students
3. Update Student
4. Delete Student
5. Exit

--- Student Records ---
(1, 'Vageeswari', 300)

======== STUDENT MANAGEMENT (SQLite on Colab) ========
1. Insert Student
2. View Students
3. Update Student
4. Delete Student
5. Exit