<a href="https://colab.research.google.com/github/Vageeswari-kanchiuniv/C/blob/main/r_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
myString <- "Hello, World!"

print ( myString)

[1] "Hello, World!"

In [2]:
if(FALSE) {
   "This is a demo for multi-line comments and it should be put inside either a
      single OR double quote"
}

myString <- "Hello, World!"
print ( myString)

[1] "Hello, World!"

In [3]:
v <- TRUE
print(class(v))

[1] "logical"

In [4]:
v <- 23.5
print(class(v))

[1] "numeric"

In [5]:
v <- 2L
print(class(v))

[1] "integer"

In [6]:
v <- 2+5i
print(class(v))

[1] "complex"

In [7]:
v <- "TRUE"
print(class(v))

[1] "character"

In [8]:
v <- charToRaw("Hello")
print(class(v))

[1] "raw"

In [9]:
v <- charToRaw("Hello")
print(class(v))

[1] "raw"

In [10]:
# Create a vector.
apple <- c('red','green',"yellow")
print(apple)

# Get the class of the vector.
print(class(apple))

[1] "red"    "green"  "yellow"
[1] "character"

In [11]:
# Create an array.
a <- array(c('green','yellow'),dim = c(3,3,2))
print(a)

, , 1

     [,1]     [,2]     [,3]
[1,] "green"  "yellow" "green"
[2,] "yellow" "green"  "yellow"
[3,] "green"  "yellow" "green"

, , 2

     [,1]     [,2]     [,3]
[1,] "yellow" "green"  "yellow"
[2,] "green"  "yellow" "green"
[3,] "yellow" "green"  "yellow"

In [12]:
# Create a vector.
apple_colors <- c('green','green','yellow','red','red','red','green')

# Create a factor object.
factor_apple <- factor(apple_colors)

# Print the factor.
print(factor_apple)
print(nlevels(factor_apple))

[1] green  green  yellow red    red    red    green
Levels: green red yellow
[1] 3

In [13]:
# Assignment using equal operator.
var.1 = c(0,1,2,3)

# Assignment using leftward operator.
var.2 <- c("learn","R")

# Assignment using rightward operator.
c(TRUE,1) -> var.3

print(var.1)
cat ("var.1 is ", var.1 ,"\n")
cat ("var.2 is ", var.2 ,"\n")
cat ("var.3 is ", var.3 ,"\n")

[1] 0 1 2 3
var.1 is  0 1 2 3
var.2 is  learn R
var.3 is  1 1